<div class="container">
    <div class="row">
        <div class="col-8">
            <img class="not-found-anima" src="https://freefrontend.com/assets/img/html-css-404-page-templates/404-SVG-Animated-Page-Concept.png" alt="not-found">
        </div>
        <div class="col-4 not-found-message">
            <h3 class="header-text">
                Oops!!! You're lost.
            </h3>
            <p class="message-text">
                The page you are looking for doesnt exist. How you got here 
                is a mystery. But you can click the button below to go back to 
                the homepage.
            </p>
            <button type="button" class="btn btn-outline-info back-home" routerLink="/">Back Home</button>
        </div>
    </div>
</div>