<section class="jumbotron text-center">
    <div class="container">
        <alert type="success" *ngIf="successRegis==='success'" [dismissOnTimeout]=2500>
            <strong>Well done!</strong> You successfully register our membership.. Congratulations.
        </alert>
        <alert type="danger" *ngIf="successRegis==='failed'" [dismissOnTimeout]=2500>
            <strong>Oh snap!</strong> Something wrong and try submitting again.
        </alert>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-4 text-center">
                <h1 class="promote">Find your beloving partner ...</h1>
                <p class="testimony">
                    "The best and most beautiful things in this world cannot be seen or even heard, but must be felt with the heart."
                    <span>- Hellen Keller</span>
                </p>
                <button class="btn btn-primary regis-app" type="button" (click)="wantRegistration()">Register</button>
                <button class="btn btn-warning about-app" type="button">Learn more..</button>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-2">
                <app-registration *ngIf="regisToogle" (cancelRegister)="cancelRegisterMode($event)"
                (statusRegister)="getStatusRegistration($event)">
                </app-registration>
            </div>
        </div>
    </div>
  </section>