<nav class="navbar navbar-expand-md navbar-light" style="background-color:rgb(175, 102, 209)">
    <a class="navbar-brand" href="#"><img class="nav-logo" src="https://www.logoskill.com/Images/Love_Dating/Love%20&%20Dating%20Logos-12.webp" alt="logo"></a>
      <ul class="navbar-nav" *ngIf="(accountService.currentUser$ | async) !== null">
          <li class="nav-item">
            <a class="nav-link" href="#">Matches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Links</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Messages</a>
          </li>
      </ul>

      <div class="mr-auto"></div>

      <div class="dropdown" *ngIf="(accountService.currentUser$ | async)!==null" dropdown>
        <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" dropdownToggle>
          Hi fellas
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2" *dropdownMenu>
          <h6 class="dropdown-header">Profile</h6>
          <div class="dropdown-divider"></div>
          <button class="dropdown-item" type="button">My Profile</button>
          <button class="dropdown-item" type="button">My Credits</button>
          <div class="dropdown-divider"></div>
          <button class="dropdown-item" type="button" (click)="doLogout()">Log out</button>
        </div>
      </div>
      
      <form #loginForm="ngForm" class="form-inline mt-2 mt-md-0" (ngSubmit)="doLogin()" autocomplete="off" *ngIf="(accountService.currentUser$ | async)===null">
        <input name="username" [(ngModel)]="model.username" class="form-control mr-sm-2" type="text" placeholder="Username">
        <input name="password" [(ngModel)]="model.password" class="form-control mr-sm-2" type="password" placeholder="Password">
        <button class="btn btn-success my-2 my-sm-0 button-login" type="submit">Login</button>
      </form>
  </nav>